In [ ]:
import pandas as pd

:

In [ ]:
df = pd.read_excel("Financial Sample.xlsx")

:

In [3]:
df

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,NaN,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,NaN,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,NaN,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,NaN,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,NaN,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014

In [5]:
# =>You have to create a method which will update the excel file with the given paramters.
# 1) column name => which column data to update.
# 2) row vaue => which row value to update.

def changeValue (rowNumber, columnName,  valueToUpdate):
    if rowNumber in df.index and columnName.lower() in pd.Series(df.columns).str.lower().values:
        print("Cell Found")
        df.loc[rowNumber, columnName]= valueToUpdate
        print("Value Changed Successfully")
        print("-"*50)
    else:
        print("Invalid Row Number Or Column Name !!!")
        return
rowNumber = int(input("Enter Row Number : "))
columnName = input("Enter Column Name : ").strip()
valueToUpdate = input("Enter Value To Update : ").strip()
changeValue(rowNumber, columnName, valueToUpdate)

KeyboardInterrupt: Interrupted by user

In [281]:
df

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Private,Canada,Carretera,NaN,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,NaN,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,NaN,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,NaN,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,NaN,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014

In [45]:
# => Also create a method which will find the avg sales by country in a year. Using these paramters.
# 1) country name
# 2) year name
# 3) product name optional.
# =>If user is providing product name than find the avg sales of that product in that year.

In [264]:
def findAverageSales(countryName, year, productName = ""):
    if countryName in df["Country"].str.lower().values and year in df["Year"].values:
        if productName == "":
            average = df[(df["Year"] == year) & (df["Country"].str.lower().values == countryName)][" Sales"].mean()
            print("The Average Sales Of {} Country In Year {} = {}.".format(countryName, year, average))
        else:
            if productName in df["Product"].str.lower().values:
                average = df[(df["Year"] == year) & (df["Country"].str.lower().values == countryName) & (df["Product"].str.lower().values == productName)][" Sales"].mean()
                print("The Average Sales Of {} Country In Year {} Of Product {} = {}.".format(countryName, year, productName,average))
            else:
                print("Enter Valid Product Name !!!")
                return
    else:
        print("Enter Valid Country Name Or Year !!!")
        return
try:        
    countryName = input("Enter Country Name : ").strip().lower()
    year = int(input("Enter Year  : "))
    productName = input("Enter Prouct Name (Optional) : ").strip().lower()
    findAverageSales(countryName, year, productName)
except ValueError:
    print("Enter Valid Year !!!")

Enter Country Name :  Mexico
Enter Year  :  2013
Enter Prouct Name (Optional) :   Amarilla

The Average Sales Of mexico Country In Year 2013 Of Product amarilla = 52441.85800000001.

In [267]:
# =>Similarly create the method to find total sales by country in a year. Product is also optional here
def totalSales(countryName, year, productName = ""):
    if countryName in df["Country"].str.lower().values and year in df["Year"].values:
        if productName == "":
            total = df[(df["Year"].values == year) & (df["Country"].str.lower().values == countryName)][" Sales"].sum()
            print("Total Sales Of {} Country In Year {} = {}.".format(countryName, year, total))
        else:
            if productName in df['Product'].str.lower().values:
                total = df[(df["Year"].values == year) & (df["Country"].str.lower().values == countryName) & (df["Product"].str.lower().values == productName)][" Sales"].sum()
                print("The Average Sales Of {} Country In Year {} Of Product {} = {}.".format(countryName, year, productName,total))
            else:
                print("Enter Valid Product Name !!!")
                return
    else:
        print("Enter Valid Country Name Or Year !!!")
        return
try:        
    countryName = input("Enter Country Name : ").strip().lower()
    year = int(input("Enter Year  : "))
    productName = input("Enter Prouct Name (Optional) : ").strip().lower()
    totalSales(countryName, year, productName)
except ValueError:
    print("Enter Valid Year !!!")

Enter Country Name :  Mexico
Enter Year  :  2013
Enter Prouct Name (Optional) :   Amarilla

The Average Sales Of mexico Country In Year 2013 Of Product amarilla = 262209.29000000004.

In [24]:
def divideNumbers(num):
    try:
        # print(result2)
        result2 = 123/0
    except Exception as e:
        print("cannot handle zero division:  ",e)
    else:
        print("code executed")
    finally:
        print("this will always work")

print(divideNumbers(23))

cannot handle zero division:   division by zero
this will always work
None

In [53]:
class Numbers(Employee):
    def __init__(self):
        print("numbers")
    def sum(self, num2):
        print("this belongs to sum")
        return num2


b1 = Employee()
# print(b1.sum(1))
# print(b1.stats(1))
# print(b1.class1())
# print(Employee.class1(1))
print(Numbers().sum(2))

this is constructor
numbers
this belongs to sum
2